<?xml version="1.0" encoding="utf-8"?>
<manifest package="android.jochemkleine.com.popularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_1"
        android:label="@string/app_name"
        android:logo="@drawable/icon_1"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MovieOverview"
            android:icon="@drawable/icon_1"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MovieDetailActivity"
            android:icon="@drawable/icon_1"
            android:label="@string/title_activity_movie_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="http"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".data.generated.FavMovieProvider"
            android:authorities="android.jochemkleine.com.popularmovies.data"
            android:enabled="true"/>

    </application>

</manifest>
